<footer class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
    
    <div class="container-fluid row ">
        &#128054; Looking for pet 😺 &copy;{{ "now"|date("d/m/Y") }}
    </div>
</footer>
