{% extends 'base.html.twig' %}

{% block title %}Devenez membre !{% endblock %}

{% block body %}
    <h1>Devenez membre !</h1>

    {{ include('membre/_form.html.twig') }}

    <a href="{{ path('membre_index') }}">Retour</a>
{% endblock %}
