{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block monTitre %} Il y a {{animaux | length }} avis de recherche{% endblock %}

{% block body %}

<div class="container">
    <div class="row flex">
        {% for animal in animaux %}
            {% include 'animal/_animaux.html.twig'%}
        {% endfor %}
    </div>
    {% include 'partials/pagination.html.twig'%}

</div>

{% endblock %}
