{% extends 'base.html.twig' %}

{% block title %}Modifier un avis de recherche{% endblock %}

{% block body %}
    <h1>Modifier un avis de recherche</h1>

    {{ include('animal/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('animal_index') }}">Retour à liste des avis de recherche</a>

    {{ include('animal/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock %}