{% extends 'base.html.twig' %}

{% block title %}Signaler un animal perdu{% endblock %}

{% block monTitre %}Signaler un animal perdu{% endblock %}

{% block body %}

    {{ include('animal/_form.html.twig', {submitButtonText: 'Publier un avis de recherche'}) }}

    <a href="{{ path('animal_index') }}">Retour à la liste des avis de recherche</a>
{% endblock %}
