{% extends 'base.html.twig' %}

{% block title %}Signaler un animal perdu{% endblock %}

{% block monTitre %}Signaler un animal perdu{% endblock %}

{% block body %}

    {{ include('animal/_form.html.twig') }}

    <a href="{{ path('animal_index') }}">back to list</a>
{% endblock %}
