@import "~bootstrap/scss/bootstrap";

h1 {
  border: 2px solid red;
  color: blue;
  text-align: center;
}

.alert {
  padding: 10px;
  color: white;
  text-align: center;
  margin: 0;
  border: none;
  border-radius: 0;
}
.alert-success{
  background-color: green;
}
.alert-error{
  background-color: red;
}
.alert-notice{
  background-color: blue;
}