<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block icon %}😺 
            {% block title %}Looking for pet{% endblock title %}
            🐶{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        
        <section class="container-fluid">
            {% include("partials/flash_messages.html.twig") %}
            {% include("partials/navbar.html.twig") %}
            <main role="main" class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <h1 class="rounded  m-2 p-2 ">{% block monTitre %}{% endblock %}</h1>
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </main>
            
            {% include 'partials/footer.html.twig'%}
        </section>
    
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
